.slider {
  margin-bottom: 59px; }
  .slider h3 {
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    line-height: 28px;
    color: #707070;
    margin: 9px 0 0;
    margin-inline: 14px;
    transition: all 0.5s ease-in-out; }
    .slider h3:not(.slider__color):hover {
      color: #ED2C41; }
  .slider .slider__color {
    padding-bottom: 8px;
    color: #151423;
    border-bottom: 2px solid #ED2C41; }

.line {
  padding-top: 10px; }
  .line span {
    display: inline-block;
    cursor: pointer;
    width: 18px;
    height: 5px;
    border-radius: 5px;
    margin-right: 13px;
    background-color: #595a5d; }
  .line .line__color {
    width: 28px;
    background-color: #ED2C41; }

.distance {
  position: relative;
  margin-bottom: 35px; }
  .distance::before {
    content: "";
    position: absolute;
    left: -26px;
    top: -28px;
    width: 63px;
    height: 63px;
    background-image: url("C:/Users/Administrator/Desktop/Web2/image/image-index/section1.png"); }

.clear {
  clear: both; }

.box {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 44px 32px 5px;
  box-shadow: 0px 0 6px rgba(26, 46, 85, 0.1);
  margin: 0 -15px;
  background-color: white; }
  .box__icon {
    color: #ED2C41;
    font-size: 50px;
    transition: all 0.4s ease-in-out; }
    .box__icon .fa-arrow-up-right-dots, .box__icon .fa-clock, .box__icon .fa-message, .box__icon .fa-hand-holding-dollar, .box__icon .fa-pen-ruler {
      display: block;
      width: 60px;
      height: 60px;
      margin: -15px auto 0; }
  .box__color-first, .box__link {
    background-color: #f8fafb; }
  .box__link {
    height: 100%;
    padding-top: 60px; }
    .box__link a {
      text-decoration: none;
      display: inline-block;
      margin-top: 24px;
      padding: 14px 38px;
      background-color: #E91F4F;
      line-height: 28px;
      font-weight: 600;
      font-size: 18px;
      color: #fff;
      transition: all 0.5s ease-in-out; }
      .box__link a .fa-plus {
        font-size: 13px;
        color: #151423;
        background-color: white;
        margin-left: 7px;
        padding: 4.5px 5.3255px;
        border-radius: 50%; }
      .box__link a:hover {
        background-color: #1a1829; }
  .box__tiltle h3 {
    font-size: 24px;
    line-height: 24px;
    color: #151423;
    margin: 20px 0 8px;
    transition: all 0.4s ease-in-out; }
  .box p {
    font-size: 19px;
    line-height: 28px;
    color: #f8fafb;
    margin: 0 0 16px; }
  .box::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #ED2C41;
    transition: all 0.4s ease-in-out; }
  .box:not(.box__color-two, .box__link):hover::before {
    height: 100%; }
  .box:not(.box__color-two, .box__link):hover .box__icon, .box:not(.box__color-two, .box__link):hover p {
    color: #fff; }
  .box:not(.box__color-two, .box__link):hover .box__tiltle h3 {
    color: #fff; }
  .box__color-two {
    background-color: #ED2C41; }
    .box__color-two .box__tiltle h3 {
      color: white; }
    .box__color-two .box__icon {
      color: white; }
    .box__color-two p {
      color: white; }

.paragraph p {
  font-size: 18px;
  line-height: 28px;
  color: #33354b;
  margin: 15px 0 0;
  font-weight: 600; }

.tiltle__main h1 {
  font-size: 90px;
  line-height: 81px;
  color: white;
  margin: 11px 0 0; }
  .tiltle__main h1 span {
    color: #E91F4F; }

.tiltle__main-sub h4 {
  padding-top: 9px;
  font-size: 22px;
  line-height: 26px;
  color: white;
  margin: 11px 0 9px; }

.tiltle__sub h2 {
  font-size: 52px;
  line-height: 52px;
  color: #151423;
  margin: 11px 0 0; }
  .tiltle__sub h2 span {
    color: #ED2C41; }

.tiltle__sub-sub h5 {
  font-size: 20px;
  line-height: 24px;
  color: #ED2C41;
  margin: 11px 0 4px; }
  .tiltle__sub-sub h5 span {
    display: inline-block;
    background-color: #ED2C41;
    width: 40px;
    height: 1px;
    transform: translateY(-2px); }

.check__item {
  line-height: 28px; }
  .check__item-icon {
    float: left;
    margin-right: 10px;
    color: #fff; }
    .check__item-icon .fa-check {
      padding: 5px;
      font-size: 10px;
      background-image: linear-gradient(to right, #ed2523 0%, #ed491c 100%);
      border-radius: 50%; }
  .check__item p {
    font-size: 18px;
    line-height: 28px;
    color: #33354b;
    margin: 0 0 16px;
    font-weight: 600; }

.author {
  margin-top: 17px;
  border-top: 1px solid #fde9ec;
  padding-top: 23px; }
  .author__body {
    padding-left: 72px; }
    .author__body h3 {
      display: inline-block;
      font-size: 24px;
      line-height: 28.8px;
      color: transparent;
      margin: 11px 0 6px;
      background-image: linear-gradient(to right, #ed2c41 0%, #ed2c41 50%, #151423 50%, #151423 100%);
      background-size: 200% 100%;
      background-position: 100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.2s ease-in-out; }
      .author__body h3:hover {
        background-position: 0%; }
    .author__body span {
      display: block;
      font-size: 18px;
      color: #151423;
      font-weight: 600;
      line-height: 28px; }

.agency {
  position: relative;
  overflow: hidden;
  background-image: url("../image/image-index/slider-bg1.jpg");
  background-size: cover;
  background-position: center; }
  .agency__row {
    width: calc(100% + 30px); }
  .agency__height {
    height: 875px; }
  .agency__body {
    position: relative;
    padding-left: 15px; }
    .agency__body .tiltle__main, .agency__body .tiltle__main-sub, .agency__body-paragraph {
      user-select: none; }
    .agency__body .tiltle__main-sub h4 {
      display: inline-block;
      border-top: 1px solid #ed2c41;
      font-weight: 500; }
    .agency__body-paragraph p {
      font-size: 19px;
      line-height: 28px;
      color: #fff;
      margin: 10px 0 14px; }
    .agency__body-link a:first-child {
      text-decoration: none;
      display: inline-block;
      position: relative;
      z-index: 1;
      padding: 14px 32px;
      margin-top: 24px;
      background-color: #ed2c41;
      color: white;
      line-height: 28px;
      font-size: 18px;
      font-weight: 600; }
      .agency__body-link a:first-child .fa-arrow-right {
        margin-left: 7px;
        font-size: 14px;
        background-color: white;
        border-radius: 50%;
        color: #ed2c41;
        padding: 5.5px 6.375px; }
      .agency__body-link a:first-child::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 50%;
        width: 0;
        height: 0;
        left: 50%;
        background-color: white;
        transform: translate(-50%, -50%);
        transition: all 0.5s ease-in-out; }
      .agency__body-link a:first-child:hover {
        color: #ed2c41; }
        .agency__body-link a:first-child:hover::before {
          width: 100%;
          height: 100%; }
        .agency__body-link a:first-child:hover .fa-arrow-right {
          background-color: #ed2c41;
          color: white; }
    .agency__body-link a:last-child {
      margin-left: 16px;
      text-decoration: none;
      display: inline-block;
      position: relative;
      z-index: 1;
      padding: 14px 32px;
      margin-top: 24px;
      color: white;
      font-size: 18px;
      font-weight: 600;
      border: 1px solid white;
      transition: all 0.5s ease-in-out; }
      .agency__body-link a:last-child .fa-arrow-right {
        margin-left: 7px;
        font-size: 14px;
        background-color: white;
        border-radius: 50%;
        color: #ed2c41;
        padding: 5.5px 6.375px; }
      .agency__body-link a:last-child::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 50%;
        width: 0;
        height: 0;
        left: 50%;
        background-color: #ed2c41;
        transform: translate(-50%, -50%);
        transition: all 0.5s ease-in-out; }
      .agency__body-link a:last-child:hover {
        border-color: #ed2c41; }
        .agency__body-link a:last-child:hover::before {
          width: 100%;
          height: 100%; }
    .agency__body-social {
      position: absolute;
      top: 10%;
      left: -25px;
      writing-mode: vertical-lr; }
      .agency__body-social a {
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        padding: 7.5px 6px;
        color: white;
        margin: 11px 0;
        border-radius: 50%;
        border: 1px solid white;
        transition: all 0.5s ease-in-out; }
        .agency__body-social a:hover {
          background-color: #ED2C41; }
      .agency__body-social span {
        display: inline-block;
        position: relative;
        margin-top: 60px;
        font-size: 18px;
        line-height: 28px;
        color: white; }
        .agency__body-social span::before {
          content: "";
          position: absolute;
          top: -60px;
          left: 50%;
          transform: translateX(-50%);
          width: 1px;
          height: 40px;
          border-left: 2px solid #ED2C41; }
  .agency__img {
    margin-top: 30px; }
    .agency__img-button span {
      display: inline-block;
      cursor: pointer;
      border-radius: 5px;
      margin-right: 6px; }
      .agency__img-button span:first-child {
        width: 13px;
        height: 13px;
        margin-left: 30px;
        background-color: white; }
      .agency__img-button span:last-child {
        width: 14px;
        height: 14px;
        border: 1px solid white; }

.services {
  padding: 100px 0 70px; }

.world {
  padding: 90px 0 85px; }

.brand {
  padding-top: 80px;
  margin-bottom: 48px; }
  .brand__img {
    padding: 21px 0;
    margin-bottom: 30px; }
    .brand__img img {
      filter: grayscale(100%); }
      .brand__img img:hover {
        filter: invert(100%) sepia(92%) saturate(3758%) hue-rotate(-30deg) brightness(97%) contrast(141%); }
  .brand .line {
    display: none; }

.skill {
  padding-top: 80px;
  background-size: cover;
  background-position: center;
  background-image: url("../image/image-index/skill.jpg"); }
  .skill .col__xl-6:first-child {
    text-align: right; }
  .skill .tiltle__sub h2 {
    color: white; }
  .skill .paragraph p {
    color: white; }
  .skill .skill__frames {
    position: relative;
    z-index: 1; }
    .skill .skill__frames .skill__text {
      margin-top: 278px;
      display: inline-block;
      background-color: #ed2c41;
      border-radius: 50% 50% 0;
      position: relative;
      z-index: 1;
      top: -25px;
      width: 212px;
      height: 212px;
      text-align: center; }
      .skill .skill__frames .skill__text h3 {
        font-size: 60px;
        line-height: 72px;
        color: white;
        margin: 68px 0 0; }
        .skill .skill__frames .skill__text h3 span {
          display: inline-block;
          font-size: 39px;
          line-height: 28px;
          transform: translateY(-18px); }
      .skill .skill__frames .skill__text > span {
        display: block;
        font-size: 22px;
        line-height: 22px;
        color: white;
        margin: 11px 0 0; }
    .skill .skill__frames::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 263px;
      right: 8px;
      border-radius: 50% 50% 0;
      width: 212px;
      height: 212px;
      background-color: #f5bac2; }
  .skill__body {
    padding-left: 21px; }
    .skill__body-effect-text:first-child span:first-child {
      width: 86.5%; }
    .skill__body-effect-text:nth-child(3) span:first-child {
      width: 71.5%; }
    .skill__body-effect-text span {
      display: inline-block; }
      .skill__body-effect-text span:first-child {
        font-size: 18px;
        line-height: 23px;
        color: white;
        font-weight: 600; }
      .skill__body-effect-text span:last-child {
        position: relative;
        transform: translateY(-4px);
        padding: 2px 4px;
        line-height: 28px;
        border-radius: 2px;
        color: #ed2c41;
        background-color: #333; }
        .skill__body-effect-text span:last-child::before {
          content: "";
          position: absolute;
          top: 100%;
          left: 9px;
          border-width: 6px;
          border-style: solid;
          border-color: black transparent transparent transparent; }
    .skill__body-effect-line:nth-child(2) span {
      width: 90%; }
    .skill__body-effect-line:last-child span {
      width: 75%; }
    .skill__body-effect-line {
      position: relative;
      margin: 11px 0 22px;
      background-color: #4b4c59;
      height: 3px;
      border-radius: 5px; }
      .skill__body-effect-line span {
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #E91F4F;
        border-radius: inherit; }
        .skill__body-effect-line span::before {
          content: "";
          position: absolute;
          width: 1px;
          height: 16px;
          left: 100%;
          top: -200%;
          border-left: 3px solid #E91F4F; }

.subtitle {
  padding: 80px 0 110px;
  height: 695px;
  background-image: url("../image/image-index/faq.jpg");
  background-size: cover;
  background-position: center; }
  .subtitle__body-list {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .subtitle__body-list li {
      padding-bottom: 11px;
      border-bottom: 1px solid #d9e5e8; }
      .subtitle__body-list li .subtitle__body-list-item {
        position: relative;
        font-size: 19px;
        line-height: 57px;
        color: #151423;
        margin: 0 0 0; }
        .subtitle__body-list li .subtitle__body-list-item span {
          color: #ed2c41; }
        .subtitle__body-list li .subtitle__body-list-item .fa-plus, .subtitle__body-list li .subtitle__body-list-item .fa-minus {
          position: absolute;
          right: 4px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 14px;
          color: #FF0000; }
        .subtitle__body-list li .subtitle__body-list-item .fa-minus {
          display: none; }
      .subtitle__body-list li p {
        display: none;
        cursor: text;
        padding: 0 22px;
        font-weight: 600;
        font-size: 19px;
        line-height: 32px;
        color: #616161;
        margin: 0 0 16px; }
      .subtitle__body-list li:hover {
        cursor: pointer; }
        .subtitle__body-list li:hover .fa-plus {
          display: none; }
        .subtitle__body-list li:hover .fa-minus {
          display: inline-block; }
        .subtitle__body-list li:hover p {
          display: block; }
  .subtitle__box {
    position: relative;
    z-index: 1; }
    .subtitle__box-text {
      position: relative;
      z-index: 1;
      display: inline-block;
      width: 212px;
      height: 212px;
      border-radius: 50% 50% 50% 0;
      text-align: center;
      margin-top: 380px;
      background-color: #1f1e30; }
      .subtitle__box-text h3 {
        font-size: 60px;
        line-height: 72px;
        color: #ed2c41;
        margin: 68px 0 0; }
        .subtitle__box-text h3 span {
          display: inline-block;
          font-weight: 600;
          transform: translateY(-18px);
          font-size: 39px;
          line-height: 28px;
          color: white;
          margin: 0 0 0; }
      .subtitle__box-text > span {
        display: inline-block;
        font-weight: 600;
        font-size: 22px;
        line-height: 22px;
        color: white;
        margin: 11px 0 0; }
    .subtitle__box-fake {
      position: absolute;
      z-index: -1;
      top: 390px;
      left: -10px;
      width: 212px;
      height: 212px;
      background-color: #aea0a2;
      border-radius: 50% 50% 50% 0; }

.case {
  padding: 100px 0 90px; }
  .case__frames {
    margin-bottom: 30px;
    overflow: hidden; }
    .case__frames .case__box {
      position: relative;
      transform: scale(1);
      transition: all 0.3s ease-in-out; }
      .case__frames .case__box img {
        vertical-align: middle;
        width: 100%;
        filter: grayscale(100%); }
      .case__frames .case__box-text {
        position: absolute;
        z-index: 2;
        opacity: 0;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        transition: all 0.3s ease-in-out; }
        .case__frames .case__box-text h5 {
          font-weight: 500;
          font-size: 14px;
          line-height: 14px;
          color: white;
          margin: 0 0 0; }
          .case__frames .case__box-text h5 span {
            display: inline-block;
            width: 30px;
            height: 1px;
            background-color: currentColor; }
        .case__frames .case__box-text a {
          font-weight: 600;
          text-decoration: none;
          display: inline-block;
          font-size: 32px;
          line-height: 38px;
          color: white;
          margin: 0 0 0; }
      .case__frames .case__box::before {
        content: "";
        position: absolute;
        z-index: 1;
        width: 0;
        height: 0;
        background-color: rgba(240, 79, 98, 0.8);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease-in-out; }
    .case__frames:hover .case__box {
      transform: scale(1.1); }
      .case__frames:hover .case__box-text {
        opacity: 1; }
      .case__frames:hover .case__box img {
        filter: none; }
      .case__frames:hover .case__box::before {
        width: 80%;
        height: 80%; }

.number {
  padding: 87px 0 270px;
  background-image: url("../image/image-index/counter-bg.jpg"); }
  .number__body {
    color: white;
    margin-bottom: 30px; }
    .number__body-icon {
      font-size: 50px; }
    .number__body-title h3 {
      font-size: 55px;
      line-height: 66px;
      color: white;
      margin: 11px 0 0; }
    .number__body-text span {
      display: inline-block;
      font-weight: 600;
      font-size: 22px;
      line-height: 24px;
      color: white;
      margin: 8px 0 0; }

.comment {
  overflow: hidden;
  margin-top: -225px; }
  .comment__img {
    display: flex;
    height: 100%; }
    .comment__img img {
      height: 100%;
      margin-left: -321px;
      vertical-align: middle; }
  .comment__row {
    position: relative;
    left: 115px; }
  .comment .col__xl-6:last-child {
    background-color: #1a162d; }
  .comment__body {
    padding: 100px 30px 50px;
    user-select: none; }
    .comment__body-icon {
      font-size: 70px;
      color: #ED2C41; }
      .comment__body-icon .fa-quote-right {
        margin-bottom: 28px; }
    .comment__body-paragraph p {
      font-size: 20.2px;
      line-height: 28px;
      color: white;
      margin: 0 0 44px; }
    .comment__body-author-img {
      float: left;
      padding-top: 6px;
      margin-right: 20px; }
      .comment__body-author-img img {
        width: 85px;
        height: 85px;
        border-radius: 50%; }
    .comment__body-author-text {
      color: white; }
      .comment__body-author-text h3 {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: white;
        margin: 11px 0 0;
        padding: 15px 0 5px; }
      .comment__body-author-text span {
        font-size: 18px; }
  .comment .line {
    padding-bottom: 133px; }

.blog {
  padding: 95px 0 70px; }
  .blog__box {
    margin-bottom: 30px; }
    .blog__box-img a {
      display: inline-block; }
      .blog__box-img a img {
        width: 100%;
        vertical-align: middle;
        filter: grayscale(100%);
        transition: filter 0.5s ease-in-out; }
    .blog__box-wrap {
      padding: 22px 30px;
      background-color: white;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.12);
      position: relative; }
      .blog__box-wrap-calendar {
        line-height: 28px;
        font-size: 18px;
        font-weight: 600; }
        .blog__box-wrap-calendar-left, .blog__box-wrap-calendar-right {
          text-decoration: none;
          display: inline-block;
          color: #616161; }
        .blog__box-wrap-calendar-left {
          display: inline-block; }
        .blog__box-wrap-calendar-right {
          float: right; }
          .blog__box-wrap-calendar-right span {
            font-style: italic; }
        .blog__box-wrap-calendar .fa-user, .blog__box-wrap-calendar .fa-calendar-days {
          color: #ED2C41;
          margin-right: 10px;
          font-size: 14px; }
      .blog__box-wrap-tiltle a {
        font-weight: 900;
        text-decoration: none;
        display: inline-block;
        font-size: 26px;
        line-height: 31px;
        color: #151423;
        margin: 11px 0 0;
        transition: all 0.5s ease-in-out; }
        .blog__box-wrap-tiltle a:hover {
          color: #ed2c41; }
      .blog__box-wrap-link a {
        text-decoration: none;
        display: inline-block;
        position: relative;
        z-index: 1;
        margin-top: 22px;
        color: white;
        padding: 12px 23px;
        background-color: #ed2c41; }
        .blog__box-wrap-link a .fa-arrow-right {
          font-size: 16px; }
        .blog__box-wrap-link a::before {
          content: "";
          position: absolute;
          z-index: -1;
          width: 0;
          height: 0;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #1a1829;
          transition: all 0.5s ease-in-out; }
        .blog__box-wrap-link a:hover::before {
          width: 100%;
          height: 100%; }
      .blog__box-wrap-line {
        position: absolute;
        height: 52px;
        width: 1px;
        bottom: 100px;
        left: 0;
        border-left: 2px solid #FF0000; }
    .blog__box:hover .blog__box-img img {
      filter: grayscale(0%); }

.letter {
  position: relative;
  margin-bottom: -100px; }
  .letter .container {
    border-radius: 10px;
    background-image: url("../image/image-index/counter-bg.jpg"); }
  .letter__row {
    padding: 40px 50px 38px; }
  .letter__body-tiltle h3 {
    font-size: 45px;
    line-height: 54px;
    color: white;
    margin: 11px 0 5px; }
  .letter__body-paragraph p {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: white;
    margin: 0 0 16px; }
  .letter__form {
    position: relative;
    text-align: right;
    padding-top: 16px; }
    .letter__form input {
      width: 80%;
      padding: 7px 20px;
      margin-bottom: 16px;
      line-height: 38px;
      font-size: 18px;
      font-weight: 600;
      color: #00132b;
      border: 1px solid #e6e6e6;
      transition: all 0.5s ease-in-out; }
      .letter__form input::placeholder {
        color: #616161; }
      .letter__form input:focus {
        border-radius: 3px;
        border-color: transparent;
        outline-color: transparent;
        box-shadow: 0 0 0 0.2rem rgba(237, 46, 33, 0.5); }
    .letter__form button {
      position: absolute;
      right: 0.1%;
      padding: 13px 25px;
      cursor: pointer;
      line-height: 28px;
      font-size: 17px;
      color: white;
      outline: none;
      border: none;
      border-right: 1px solid white;
      background-color: #232434; }

.info {
  padding-top: 195px;
  background-image: url("../image/image-index/footer-bg.jpg"); }
  .info__body-logo {
    margin-top: 10px; }
  .info__body-text p {
    font-weight: 600;
    padding: 32px 16px 0 0;
    font-size: 19px;
    line-height: 28px;
    color: white;
    margin: 0 0 13px; }
  .info__body-social {
    padding-bottom: 30px; }
    .info__body-social a {
      text-decoration: none;
      display: inline-block;
      position: relative;
      z-index: 1;
      margin: 15px 6px 0;
      font-size: 16px;
      color: white;
      line-height: 33px;
      border-radius: 3px;
      background-color: #292643; }
      .info__body-social a:first-child {
        padding: 2px 12.5px 0; }
      .info__body-social a:nth-child(2) {
        padding: 2px 10.5px 0; }
      .info__body-social a:nth-child(3) {
        padding: 2px 9.5px 0; }
      .info__body-social a:last-child {
        padding: 2px 11.5px 0; }
      .info__body-social a::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        background-color: #ED2C41;
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        transition: all 0.5s ease-in-out; }
      .info__body-social a:hover::before {
        width: 100%;
        height: 100%; }
  .info__box-title h3 {
    font-size: 28px;
    line-height: 33px;
    color: white;
    margin: 0 0 0;
    padding-bottom: 28px; }
    .info__box-title h3::first-letter {
      color: #ED2C41; }
  .info__box-list {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .info__box-list-item {
      padding-left: 15px; }
      .info__box-list-item a {
        text-decoration: none;
        display: inline-block;
        position: relative;
        left: 0;
        font-size: 18px;
        font-weight: 900;
        color: white;
        line-height: 28px;
        padding-bottom: 8px;
        background-image: linear-gradient(to right, #ed2c41 0%, #ed2c41 50%, #fff 50%, #fff 100%);
        background-size: 200% 100%;
        background-position: 100%;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        transition: all 0.5s ease-in-out; }
        .info__box-list-item a::before {
          content: "";
          position: absolute;
          width: 10px;
          height: 1px;
          background-color: currentColor;
          top: 38%;
          left: -20px; }
        .info__box-list-item a:hover {
          background-position: 0%;
          left: 10px; }
  .info__frames-contact-icon {
    margin-bottom: 30px; }
    .info__frames-contact-icon .fa-phone-volume, .info__frames-contact-icon .fa-envelope, .info__frames-contact-icon .fa-location-dot {
      float: left;
      font-size: 26px;
      width: 26px;
      color: #D00A2B;
      margin-right: 20px; }
    .info__frames-contact-icon span {
      display: block;
      overflow: hidden;
      font-size: 20px;
      line-height: 28px;
      color: white;
      margin: 0 0 0; }
  .info__row {
    margin-top: 80px;
    border-top: 1px solid #ed2a22;
    padding-top: 22px; }
    .info__row p {
      font-size: 18px;
      line-height: 28px;
      color: white;
      margin: 0 0 16px; }
      .info__row p span {
        color: #D00A2B; }

@media (max-width: 1199px) {
  .tiltle__main h1 {
    font-size: 60px;
    line-height: 54px; }

  .tiltle__sub h2 {
    font-size: 35px;
    line-height: 35px; }

  .agency__img img {
    width: 100%; }
  .agency__img-button {
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translateX(-50%); }
    .agency__img-button span:first-child {
      margin-left: 0; }

  .box__link {
    padding: 72px 20px 94px; }
  .box p {
    font-weight: 600;
    font-size: 16px;
    color: #33354b; }

  .case__frames .case__box-text a {
    font-size: 28px; }

  .comment__row {
    left: 50px; }

  .blog__body {
    text-align: center; }
  .blog__box-wrap-tiltle a {
    font-size: 20px; }

  .letter__body-tiltle h3 {
    font-size: 38px;
    line-height: 45.59px; }

  .skill__body {
    padding-left: 21px; }
    .skill__body-effect-text:first-child span:first-child {
      width: 86%; }
    .skill__body-effect-text:nth-child(3) span:first-child {
      width: 71%; }

  .info__frames-contact-icon span {
    font-size: 18px; } }
@media (max-width: 991px) {
  .tiltle__main h1 {
    font-size: 40px;
    line-height: 35px; }

  .tiltle__main-sub h4 {
    font-size: 20px; }

  .tiltle__sub h2 {
    font-size: 30px;
    line-height: 30px; }

  .agency .agency__body-link a {
    padding: 12px 30px; }
    .agency .agency__body-link a:last-child {
      margin-left: 0; }

  .box p {
    font-size: 19px; }

  .brand .col__xl-2-4:not(.col__md-4) {
    display: none; }
  .brand .line {
    display: block; }
    .brand .line span:nth-child(4) {
      display: none; }

  .skill__body-effect-text:first-child span:first-child {
    width: 84%; }
  .skill__body-effect-text:nth-child(3) span:first-child {
    width: 69%; }

  .subtitle__body-list li .subtitle__body-list-item {
    font-size: 16px; }

  .comment__img img {
    margin-left: -290px; }

  .letter__body-tiltle h3 {
    font-size: 27px;
    line-height: 32.5px; }
  .letter__form {
    text-align: left; }
    .letter__form input {
      width: 100%; }
    .letter__form button {
      right: -14%;
      padding: 13px 18px; }

  .info__body-text p {
    font-size: 18px; }
  .info__row p {
    font-size: 17px; } }
@media (max-width: 767px) {
  .agency {
    margin-top: 63px; }
    .agency .agency__body {
      padding-left: 40px; }
      .agency .agency__body-social {
        top: 4%;
        left: -1%; }
        .agency .agency__body-social a {
          margin-inline: 10px;
          padding: 8px 8px 8px 6px; }
        .agency .agency__body-social span {
          margin-top: 0; }
          .agency .agency__body-social span::before {
            display: none; }
      .agency .agency__body-link a {
        padding: 14px 32px; }
        .agency .agency__body-link a:last-child {
          margin-left: 16px; }
    .agency__row {
      height: 100%; }
    .agency__img {
      margin-top: 45px; }
      .agency__img img {
        width: initial; }

  .tiltle__sub h2 {
    font-size: 28px;
    line-height: 28px; }

  .world__body {
    text-align: center; }

  .check__item-icon {
    float: initial; }

  .author__body {
    padding-left: 0; }

  .brand .col__md-4:not(.col__sm-6) {
    display: none; }
  .brand__img {
    text-align: center; }
  .brand .line span:nth-child(4) {
    display: inline-block; }

  .skill__body {
    text-align: center; }
    .skill__body-effect-text {
      text-align: left; }
      .skill__body-effect-text:first-child span:first-child {
        color: #595a5d;
        font-weight: 900;
        width: 86.4%; }
      .skill__body-effect-text:nth-child(3) span:first-child {
        color: #595a5d;
        font-weight: 900;
        width: 71.4%; }
  .skill .tiltle__sub h2 {
    color: #ED2C41; }
  .skill .paragraph p {
    color: #595a5d; }

  .subtitle__body {
    text-align: center; }
    .subtitle__body-list li .subtitle__body-list-item {
      text-align: left;
      font-size: 18px; }
    .subtitle__body-list li p {
      color: #ed2c41; }
  .subtitle__box {
    top: 88px; }
    .subtitle__box-text {
      width: 150px;
      height: 150px;
      margin-top: -55px; }
      .subtitle__box-text h3 {
        margin-top: 40px;
        font-size: 48px;
        line-height: 57px; }
        .subtitle__box-text h3 span {
          font-size: 30px; }
      .subtitle__box-text > span {
        margin-top: 0;
        font-size: 17px;
        line-height: 17px; }
    .subtitle__box-fake {
      width: 150px;
      top: -46px;
      height: 150px; }

  .case .slider h3 {
    font-size: 19px; }

  .blog__box-img a {
    width: 100%; }

  .letter {
    margin-bottom: -20px; }
    .letter__form button {
      right: 0%; }

  .info__row .col__sm-12 {
    text-align: center; } }
@media (max-width: 575px) {
  .agency__row {
    height: initial; }
  .agency__img img {
    width: 100%; }

  .distance::before {
    left: 24%; }

  .services__body {
    text-align: center; }

  .case .slider h3 {
    font-size: 16px; }

  .comment__row {
    left: initial; } }
@media (max-width: 479px) {
  .agency .agency__body-link a {
    margin-right: 20px; }
    .agency .agency__body-link a:last-child {
      margin-left: 0; }

  .skill .skill__frames::before {
    width: 150px;
    height: 150px; }
  .skill .skill__frames .skill__text {
    width: 150px;
    height: 150px; }
    .skill .skill__frames .skill__text h3 {
      margin-top: 20px;
      font-size: 40px;
      line-height: 57px; }
    .skill .skill__frames .skill__text span {
      margin-top: 0;
      font-size: 18px; }

  .subtitle__body-list li .subtitle__body-list-item {
    font-size: 18px;
    width: 92%; }
    .subtitle__body-list li .subtitle__body-list-item .fa-plus, .subtitle__body-list li .subtitle__body-list-item .fa-minus {
      right: -16px; }

  .skill__body-effect-text:first-child span:first-child {
    width: 85.6%; }
  .skill__body-effect-text:nth-child(3) span:first-child {
    width: 70.6%; } }
@media (max-width: 420px) {
  .tiltle__main h1 {
    font-size: 38px; }

  .skill__body-effect-text:first-child span:first-child {
    width: 84.6%; }
  .skill__body-effect-text:nth-child(3) span:first-child {
    width: 69.6%; }

  .letter__body-tiltle h3 {
    font-size: 26px; }
  .letter__form {
    text-align: center; }
    .letter__form input {
      font-size: 16px; }
    .letter__form button {
      position: static; }

  .brand .col__sm-6:nth-child(2) {
    display: none; }

  .subtitle {
    height: initial; }

  .tiltle__sub h2 {
    font-size: 27px;
    line-height: 22px; } }
@media (max-width: 350px) {
  .skill__body-effect-text:first-child span:first-child {
    width: 83.2%; }
  .skill__body-effect-text:nth-child(3) span:first-child {
    width: 68.2%; } }

/*# sourceMappingURL=style.css.map */
