@font-face {
	font-family: Muli;
	src: url("font/Muli.ttf");
}
* {
	box-sizing: border-box;
}
:root {
	--first-color: #00247e;
	--second-color: #33baff;
	--third-color: #0c5adb;
	--four-color: #37bbff;
	--five-color: #616161;
}
html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	font-family: Muli, sans-serif;
}
body::-webkit-scrollbar {
	width: 16px;
	background-color: #f5f5f5;
}
body::-webkit-scrollbar-thumb {
	height: 200px;
	border: 3px solid #f5f5f5;
	background-color: #b7b7b7;
	border-radius: 10px;
}
.arrow__body a {
	position: fixed;
	z-index: 3;
	bottom: 4%;
	right: 7%;
	display: inline-block;
}
.body__icon {
	padding: 12px;
	color: white;
	border-radius: 50%;
	background-color: #0c5adb;
}
.navbar__minus {
		display: none;
	}
.navbar {
	background-color: var(--first-color);
	position: fixed;
	top: 0;
	z-index: 3;
	width: 100%;
}
.navbar__container {
	max-width: 1140px;
	margin: 0 auto;
	display: flex;
	padding: 0 15px;
	box-sizing: border-box;
}
.navbar__text {
	margin-top: 12px;
	width: 20%;
}
.navbar__logo {
	position: relative;
	top: 6px;
	color: var(--second-color) !important;
	font-size: 40px;
}
.navbar__text > span {
	font-size: 36px;
	color: white;
	font-weight: 600;
}
.navbar__btn {
	width: 20%;
}
.navbar__menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 60%;
	display: flex;
	justify-content: center;
}
.navbar__menu > li > a {
	display: inline-block;
	text-decoration: none;
	color: white;
	margin: 30px 10px;
	font-size: 15px;
}
.navbar__btn a {
	display: inline-block;
	text-decoration: none;
	color: #232323;
	line-height: 27px;
	vertical-align: bottom;
	margin-top: 20px;
	padding: 10px 30px;
	background-color: white;
	border: 2px solid var(--third-color);
	border-radius: 5px;
	transition: all 0.2s linear;
}
.navbar__btn a:hover {
	background-color: var(--first-color);
	color: white;
	border: 2px solid transparent;
}
.navbar__menu-item {
	position: relative;
}
.navbar__list-item {
	position: relative;
}
.navbar__list {
	display: none;
	background-color: white;
	border-top: 2px solid var(--third-color);
	position: absolute;
	top: 100%;
	left: 0;
	width: 217px;
	margin: 0;
	padding: 0;
	list-style-type: none;	
}
.navbar__list-item > a {
	display: block;
	box-sizing: border-box;
	text-decoration: none;
	color: #333;
	font-size: 15px;
	line-height: 1.3;
	padding: 12px 20px;
}
.navbar__menu-item:hover .navbar__list {
	display: block;
}
.navbar__list-item:hover {
	background-color: var(--third-color);
}
.navbar__list-item:hover > a {
	color: white;
}
.navbar__new {
	display: none;
	background-color: white;
	border-top: 2px solid var(--third-color);
	margin: 0;
	padding: 0;
	position: absolute;
	width: 217px;
	left: 100%;
	top: 0;
	list-style-type: none;
}
.navbar__new-item > a {
	display: block;
	text-decoration: none;
	font-size: 15px;
	color: #333;
	line-height: 1.3;
	padding: 12px 20px;
}
.navbar__new-item > a > span {
	display: inline-block;
	padding: 0 4px;
	line-height: 15px;	
	vertical-align: middle;
	font-size: 14px;
	transform: translateY(-2px);
	border-radius: 5px;
	color: white;
	background-color: var(--third-color);
}
.navbar__list-item:nth-child(2):hover .navbar__new, .navbar__list-item:nth-child(3):hover .navbar__new{
	display: block;
}
.navbar__new-item:hover a{
	background-color: var(--third-color);
	color: white;
}
.navbar__new-item:hover span {
	background-color: white;
	color: var(--third-color);
}
.navbar__list-frames {
	display: none;
}
@media (max-width: 1199px) {
	.navbar__container {
		max-width: 960px;
	}
}
@media (max-width: 991px) {
	.navbar__container {
		align-items: center;
		margin: 0;
	}
	.navbar__text {
		width: 92%;
		margin-bottom: 12px;
	}
	.navbar__text > span {
		transform: translateY(-8px);
		font-size: 28px;
		display: inline-block;
	}
	.navbar__list-frames-icon a:last-child {
		display: none;
	}
	.fa-bars, .fa-times {
		color: white;
		font-size: 30px;
	}
	.navbar__menu, .navbar__btn {
		display: none;
	}
	.navbar__list-frames {
		width: 8%;
		text-align: right;
		display: block;
	}
	.navbar__list-frames:hover .navbar__bars {
		display: block;
	}
	.navbar__list-frames:hover .navbar__list-frames-icon a:first-child {
		display: none;
	}
	.navbar__list-frames:hover .navbar__list-frames-icon a:last-child {
		display: block;
	}
	.navbar__bars {
		display: none;
		background-color: white;
		position: fixed;
		top: 10%;
		left: 0;
		width: 100%;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	.navbar__bars::before {
		content: "";
		position: absolute;
		top: -20px;
		right: 0;
		width: 50%;
		height: 40px;
	}
	.navbar__bars-item {
		position: relative;
	}
	.navbar__bars-item > a {
		text-decoration: none;
		font-size: 14px;
		line-height: 27px;
		color: #444;
		display: flex;
		justify-content: space-between;
		text-align: left;
		padding: 14px 38px;
	}
	.navbar__bars-item > a:hover {
		color: var(--third-color);
		background-color: #f8f8f8; 
	}
	.navbar__bars-item-effect {
		display: inline-block;
	}
	.fa-minus, .fa-plus {
		font-size: 12px;
		color: #444;
	}
	.fa-minus {
		display: none;
	}
	:is(.navbar__bars-item:first-child, .navbar__bars-item:nth-child(2)) .navbar__bars-item-effect:hover {
		margin-bottom: 280px;
	}
	:is(.navbar__bars-item:nth-child(3)) .navbar__bars-item-effect:hover {
		margin-bottom: 195px;
	}
	:is(.navbar__bars-item:nth-child(4)) .navbar__bars-item-effect:hover {
		margin-bottom: 234px;
	}
	:is(.navbar__bars-item:nth-child(5)) .navbar__bars-item-effect:hover {
		margin-bottom: 270px;
	}
	:is(.navbar__bars-item:nth-child(6)) .navbar__bars-item-effect:hover {
		margin-bottom: 195px;
	}
	:is(.navbar__bars-item:last-child) .navbar__bars-item-effect:hover {
		margin-bottom: 234px;
	}
	.navbar__bars-item-effect:hover .fa-plus {
		display: none;
	}
	.navbar__bars-item-effect:hover .fa-minus {
		display: block;
		padding-top: 6px;
	}
	.navbar__bars-item-effect:hover .navbar__minus {
		display: block;
	}
	.navbar__minus {
		max-height: 280px;
		overflow-y: auto;
		list-style-type: none;
		color: #151948;
		margin: 0;
		background-color: #ececec;
		position: absolute;
		left: 0;
		top: 50px;
		width: 100%;
		padding: 0;
	}
	.navbar__minus::before {
		content: "";
		position: absolute;
		z-index: 1;
		width: 70%;
		height: 30px;
		top: -30px;
		right: 0;
	}
	.navbar__bars-item-effect::before {
		content: "";
		position: absolute;
		width: 80px;
		height: 20px;
		right: 0;
		height: 20px;
		top: 30px;
	}
	.navbar__minus-item {
		padding: 6px 5%; 
		width: 80%
	}
	.navbar__minus-item:hover {
		background-color: #e5e5e5;
		color: var(--third-color);
	}
}
::selection {
	background-color: #4fc1f0;
	color: #454545;
}