$one-color: #111;
$two-color: #CB8161;
$three-color: #f7f7f7;
$four-color: #666;
$five-color: #e5e5e5;
$six-color: #222;
$seven-color: #6c6c6c;
$eight-color: #e2e2e2;
$nine-color: #f5f5f5;
$ten-color: #367E62;
$eleven-color: #cb354e;
$twelve-color: #2f3032;
$thirteen-color: #6d6e6f;
$fourteen-color: #aaa;
$fiveteen-color: #ececec;
$sixteen-color: #999;
$seventeen-color: rgb(54, 126, 98);
$eighteen-color: #f8f8f8;
$nineteen-color: #b7b7b7;
$twenty-color: #ffe3d7;
$twenty-one-color: #333;
$twenty-two-color: #CCC;
$twenty-three-color: #c4c4c4;
$twenty-four-color: #31373D;
$twenty-five-color: #212B36;
$twenty-six-color: #8996a3;
$twenty-seven-color: #108043;
$twenty-eight-color: #004c3f;
$twenty-nine-color: #479CCF;
$fourty-color: #008060;
