@mixin list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
@mixin a__1 {
	display: block;
	text-decoration: none;
}
@mixin a__2 {
	display: inline-block;
	text-decoration: none;
}
@mixin text($font-size,$line-height,$color, $margin-top, $margin-bottom) {
	font-size: $font-size;
	line-height: $line-height;
	color: $color;
	margin: $margin-top 0 $margin-bottom;
}
@mixin effect-link($background-color) {
		position: relative;
		z-index: 1;
		&::before {
				content: "";
				position: absolute;
				z-index: -1;
				top: 0;
				right: 0;
				width: 0;
				height: 100%;
				background-color: $background-color;
				transition: all 0.3s ease-in-out; 
			}
			&:hover {
				&::before {
					left: 0;
					width: 100%;
				}
			}
}